pkgbase = instagram-cli
	pkgdesc = Instagram's terminal UI app - The ultimate weapon against brainrot
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/supreme-gg-gg/instagram-cli
	arch = any
	license = MIT
	depends = node>=20
	source = https://registry.npmjs.org/@i7m/instagram-cli/-/instagram-cli-1.4.0.tgz
	sha256sums = e38b98ab331de279459b7245630c785f91ad5c32c683ac1eccb9bca6f2884b1a

pkgname = instagram-cli
